

.tech-consulting {
  padding: 20px 0px;
  font-family: 'Poppins', sans-serif;
}
.tech-consulting h2 {
  font-weight: 700;
  color: #222;
}
.tech-consulting .card {
  border: none;
}
.tech-consulting .card p {
  font-size: 18px;
  color: #636363;
  font-weight: 400;
}
.tech-consulting .btn-warning {
  background: #f8c04f;
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  padding: 13px 28px 19px 28px;
  margin-top: 20px;
}

.digital-trans {
  padding: 20px 0px;
  font-family: 'Poppins', sans-serif;
}
.digital-trans h2 {
  font-weight: 700;
  color: #222;
}
.digital-trans .card {
  border: none;
}
.digital-trans .card-text {
  font-size: 18px;
  color: #636363;
  font-weight: 400;
}
.digital-trans .btn-warning {
  background: #f8c04f;
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  padding: 13px 28px 19px 28px;
  margin-top: 20px;
}

.strategic {
  padding: 20px 0px;
  font-family: 'Poppins', sans-serif;
}
.strategic h2 {
  font-weight: 700;
  color: #222;
}
.strategic h3 {
  color: blueviolet;
  font-weight: 600;
}
.strategic .card {
  border: none;
}
.strategic .card-text {
  font-size: 18px;
  color: #636363;
  font-weight: 400;
}
.strategic .btn-warning {
  background: #f8c04f;
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  padding: 13px 28px 19px 28px;
  margin-top: 20px;
}

.training-dev {
  padding: 20px 0px;
  font-family: 'Poppins', sans-serif;
}
.training-dev h2 {
  font-weight: 700;
  color: #222;
}
.training-dev h3 {
  color: blueviolet;
  font-weight: 600;
}
.training-dev .card {
  border: none;
}
.training-dev .card-text {
  font-size: 18px;
  color: #636363;
  font-weight: 400;
}
.training-dev .btn-warning {
  background: #f8c04f;
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  padding: 13px 28px 19px 28px;
  margin-top: 20px;
}