@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@500&family=Libre+Baskerville:wght@400;700&family=Mulish:ital@1&family=Poppins:wght@500&display=swap');

.home {
  background-image: linear-gradient(
      -45deg,
      rgba(0, 0, 0, 0.575),
      rgba(0, 0, 0, 0.441)
    ),
    url(../Images/home-banner.jpg);
  height: 100vh;
  width: 100%;
  color: beige;
  text-align: left;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-banner-box {
  position: absolute;
  top: 58%;
  left: 59%;
  transform: translate(-45%, -50%);
  font-family: "Poppins", sans-serif;
}
.brand-name {
  font-weight: 600;
  letter-spacing: 0.5rem;
  font-size: 36px;
  font-family: "Poppins", sans-serif;
}
.brand-name::after {
  display: block;
  content: '';
  width: 78%;
  height: 4px;
  background-color: #f8c04f;
  margin: 30px 0px;
}
.brand-sub
 {
  font-size: 15px;
  color: #fff;
  opacity: 0.6;
}
.tagline {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.3rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
  margin-top: 40px;
  color: #fff;
}
.desc {
  font-size: 20px;
  line-height: 37px;
  margin-left: 4rem;
  color: #fff;
}

.banner-btn {
  background: #f8c04f;
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 17px 28px 17px 28px;
  margin-top: 20px;
}
.banner-btn .fa-arrow-right {
  display: inline-block;
  padding-left: 12px;
  font-size: 22px;
}
.hero-btn:hover {
  color: #ffffff;
  background: #5e5df0;
  box-shadow: #5e5df0 0 10px 20px -10px;
  transform: translateY(-4px);
}

.sub-heading h2 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.sub-heading h2:before {
  width: 28px;
  height: 5px;
  display: block;
  content: "";
  position: absolute;
  bottom: 3px;
  left: 50%;
  margin-left: -14px;
  background-color: #7611d4;
}
.sub-heading h2:after {
  width: 100px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 25px;
  left: 50%;
  margin-left: -50px;
  background-color: #7611d4;
}
.services-link {
  color: #7611d4;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}
.para-text {
  color: rgb(75, 75, 75);
  font-weight: 500;
}
.contact-box {
  padding: 30px;
  font-family: "Poppins", sans-serif;
}
.icons {
  color: #fff;
  box-shadow: #7611d4 0 10px 20px -10px;
}

/* about section */
.about-section {
  padding: 80px 20px;
}
.about-section .about-text h2 {
  font-size: 36px;
  font-weight: 600;
  color: rgb(44, 127, 157);
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}
.about-section .about-text h2::after {
  display: block;
  width: 100%;
  height: 3px;
  margin: 0 auto;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: #f8c04f;
  content: '';
  /* text-align: left;
  position: absolute;
  left: 42.5%; */
}
.about-section .about-text p {
  padding-top: 10px;
  color: #636363;
  line-height: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-align: justify;
}

/* career section */
.career-section {
  padding: 80px 20px;
}
.career-section .career-text h2 {
  font-size: 36px;
  font-weight: 600;
  color: rgb(44, 127, 157);
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}
.career-section .career-text h2::after {
  display: block;
  width: 100%;
  height: 3px;
  margin: 0 auto;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: #f8c04f;
  content: '';
  /* text-align: left;
  position: absolute;
  left: 42%; */
}
.career-section .career-text p {
  color: #636363;
  line-height: 30px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding-top: 15px;
  text-align: justify;
}

/* service section */
.service-section {
  padding: 0px 20px;
}
.service-section h2 {
  font-size: 36px;
  font-weight: 600;
  color: rgb(44, 127, 157);
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.service-section h2::after {
  display: block;
  width: 100%;
  height: 3px;
  margin: 0 auto;
  margin-top: 5px;
  background-color: #f8c04f;
  content: '';
}
.service-section a {
  text-decoration: none;
}
/* .service-section h3 {
  color: blueviolet;
  font-size: 22px;
  font-weight: 600;
} */
.service-section p {
  color: #636363;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  padding-top: 10px;
  text-align: justify;
}


@media (max-width: 576px) {
  .home-banner-box {
    left: 38%;
    top: 50%;
  }
  .brand-name {
    font-size: 28px;
    line-height: 38px;
  }
  .brand-name::after {
    margin: 16px 0px;
  }
  .tagline {
    font-size: 24px;
    margin-top: 22px;
    margin-bottom: 10px;
  }
  .desc {
    margin-left: 0;
    font-size: 17px;
    line-height: 26px;
  }
  .banner-btn {
    padding: 20px 12px;
  }
  .career-section .career-img {
    margin-bottom: 2rem;
  }
  .service-section img {
    margin-bottom: 2.5rem;
  }
  .career-row{
    display:flex;
  }
  .career-col-1{
    order: 2;
  }
  .career-col-2{
    order: 1;
  }

}
.inner-services h3{
  color: rgb(44, 127, 157);
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  padding-top: 15px;
}
.container .title{
  font-family: 'Poppins', sans-serif;
  text-transform: none;
  font-size: 36px;
  color: rgb(44, 127, 157);
  padding: 0px 20px;
  padding-top: 20px;
}
.container .title::after {
  display: block;
  width: 100%;
  height: 3px;
  margin: 0 auto;
  margin-top: 5px;
  background-color: #f8c04f;
  content: '';
}
.container .footer-head-box{
  padding: 0px 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.name[type=number] {
  -moz-appearance: textfield;
}

